# build
dist/
.astro/
.output/

# deps
node_modules/

# entorno
.env
.env.*
!.env.example

# sistema
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/
